body {
    background-color: #343434;
    color: #fff;
    font-family: "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

div.row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

div.col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-left: 5px;
    margin-right: 5px;
}



div.button {
    background-color: #0078d4;
    color: #fff;
    width: 120px;
    padding: 10px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    text-align: center;
    content: "center";
    cursor: pointer;
    /* text select disable */
    user-select: none;
}


div.controls {
    display: flex;
    flex-direction: row;
    margin: 10px;
}

.hidden {
    display: none !important;
}


/* Custom context menu style */

ol,
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.items-with-context-menu 
{
    display: flex;
}

.items-with-context-menu .item
{
    background: #fff;
    width: 10em;
    height: 1.5em;
}

.menu {
    background: white;
    color: black;
    border: #ccc solid 1px;
    border-radius: .2em;
    box-shadow: .1em .1em .2em gray;
    position: absolute;
    user-select: none;
    flex-direction: column;
}

.menu .item {
    cursor: default;
    padding: .5em 1em;
}

.menu .item:first-child {
    border-top-left-radius: .2em;
    border-top-right-radius: .2em;
}
.menu .item:last-child {
    border-bottom-left-radius: .2em;
    border-bottom-right-radius: .2em;
}

.menu .item:hover {
    border-radius: .2em;
    background: #f1f1f1;
    color: black;
    cursor: pointer;
}

.menu hr {
    margin: 0;
    border: none;
    border-top: 1px solid #ccc;
}


/* VovkPLCEditor style */

.plc-editor {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5px;
}

.plc-editor .program {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5px;
}

.plc-editor .program canvas {
    border: 1px solid #ccc;
    margin: 5px;
}