body {
    background-color: #343434;
    color: #fff;
    font-family: "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 1px;
}

div.row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

div.col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-left: 5px;
    margin-right: 5px;
}



div.button {
    background-color: #0078d4;
    color: #fff;
    width: 120px;
    padding: 10px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    text-align: center;
    content: "center";
    cursor: pointer;
    /* text select disable */
    user-select: none;
}


div.controls {
    display: flex;
    flex-direction: row;
    margin: 8px;
}




#hmi {
    font-family: monospace; font-size: 1em;
}
#hmi span {
    margin: 0px;
    padding: 0px;
}
p {
    margin: 0px;
    padding: 0px;
    font-size: 12px;
}

div.console {
    font-family: "Courier New", Courier, monospace;
    background-color: #222;
    color: #CCC;
    border: 1px solid #444;
    width: 95%;
    height: 200px;
    overflow-y: auto;
    margin: 10px;
    padding: 5px;
}

div.console p {
    white-space: pre-line;
    margin: 0px;
    padding: 0px;
    font-size: 8px;
}