
.hidden {
    display: none !important;
}


/* Custom context menu style */

ol,
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.items-with-context-menu 
{
    display: flex;
}

.items-with-context-menu .item
{
    background: #fff;
    width: 10em;
    height: 1.5em;
}

.menu {
    font-family: Arial, sans-serif;
    background: white;
    color: black;
    border: #ccc solid 1px;
    border-radius: .2em;
    box-shadow: .3em .3em .6em #0007;
    position: absolute;
    user-select: none;
    flex-direction: column;
}

.menu .item {
    cursor: default;
    padding: .5em 1em;
}

.menu .item:first-child {
    border-top-left-radius: .2em;
    border-top-right-radius: .2em;
}
.menu .item:last-child {
    border-bottom-left-radius: .2em;
    border-bottom-right-radius: .2em;
}

.menu .item:hover {
    border-radius: .2em;
    background: #f1f1f1;
    color: black;
    cursor: pointer;
}

.menu hr {
    margin: 0;
    border: none;
    border-top: 1px solid #ccc;
}

.thick {
    font-family: Arial Black, Gadget, sans-serif;
    color: #ccc;
}

.text-rotate {
    writing-mode: vertical-rl;
    text-orientation: upright;
    text-align: center;
}

.no-select {
    user-select: none;
}

/* VovkPLCEditor style */
.plc-workspace.debug div {
    border: 1px solid #abe;
}

.plc-workspace h1 { margin: 15px; margin-left: 7px; }
.plc-workspace h2 { margin: 12px; margin-left: 7px; }
.plc-workspace h3 { margin: 8px; margin-left: 7px; } 
.plc-workspace h4 { margin: 5px; margin-left: 7px; }
.plc-workspace p { margin: 5px; margin-left: 7px; }

.plc-workspace {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    width: 100%;
    height: 100%;
    background-color: #343434;
    color: #DDD;
    font-family: "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
    justify-content: center;
    padding: 0px;
}
/* .plc-workspace-header, .plc-workspace-body, .plc-workspace-footer */
.plc-workspace-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    width: 100%;
    min-width: 400px;
}

/* Ensure the workspace body takes full available height but doesn't push elements out */
.plc-workspace-body {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: repeating-linear-gradient( -60deg, #121212d6, #313a4a 24px,#28283e 24px, #252526 36px);
}

/* Ensure the navigation and tools don't shrink */
.plc-navigation, .plc-tools {
    display: flex;
    flex-direction: row;
    align-items: top;
    min-height: 200px;
    height: 100%;
    flex-shrink: 0; /* Prevents these from shrinking */
    background: #2A2A2A;
}

.plc-navigation-container, .plc-tools-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background: #444;
}
.plc-navigation.minimized, .plc-tools.minimized {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20px !important;
}
.plc-navigation.minimized .plc-navigation-container, 
.plc-navigation.minimized .resizer, 
.plc-tools.minimized .plc-tools-container,
.plc-tools.minimized .resizer
 {
    display: none;
}

.plc-navigation .text-rotate, .plc-tools .text-rotate {
    display: none;
}
.plc-navigation.minimized .text-rotate, .plc-tools.minimized .text-rotate {
    display: block;
}

.plc-navigation-bar, .plc-tools-bar {
    display: flex;
    flex-direction: column;
    align-items: top;
    text-align: center;
    padding: 0px;
    width: 20px;
}

.resizable {
    position: relative;
}
.resizer {
    position: relative;
    background: none;
    border: none;
    z-index: 10;
}
.resizer.active , .resizer:hover {
    background: #007ad7;
}
.resizer.right {
    width: 2px;
    height: 100%;
    top: 0;
    cursor: ew-resize;
}
.resizer.left {
    width: 2px;
    height: 100%;
    top: 0;
    cursor: ew-resize;
}
.resizer.top {
    height: 2px;
    width: 100%;
    left: 0;
    cursor: ns-resize;
}
.resizer.bottom {
    height: 2px;
    width: 100%;
    left: 0;
    cursor: ns-resize;
}

.plc-workspace .menu-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    user-select: none;
}

/* Make the inner window scrollable instead of pushing other elements */
.plc-window, .plc-window-frame {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    min-height: 200px;
    min-width: 200px;
    overflow: hidden;
}
.plc-window-frame {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    min-height: 200px;
    min-width: 200px;
    overflow: hidden;
    background: #444C;
    border: 1px solid #ccc;
    border-radius: 2px;
    padding: 5px;
    margin-top: 0px;
    box-sizing: border-box;
}

.plc-window-bar {
    display: flex;
    flex-direction: row;
    align-items: bottom;
    padding: 0px;
    width: 100%;
    min-height: 32px;
}
.plc-window-bar .plc-tab:first-child {
    margin-left: 8px;
}
.plc-tab {
    margin: 3px 3px 0px 3px;
    padding: 2px;
    padding-left: 5px;
    padding-right: 5px;
    border-bottom: 0px;
    cursor: pointer;
    user-select: none;
    background: #6789;
}
.plc-tab:hover {
    background: #dedede;
    color: black;
}

.plc-tab.active {
    background: #ccc;
    color: black;
    font-weight: bold;
}
.plc-tab.active:hover {
    background: #FFF;
}

/* Ensure the editor takes full space inside the window */
.plc-editor {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 100%;
    height: 100%;
}
.plc-editor-body {
    background-color: #2A2A2A;
}

.plc-editor-body > div {
    border-bottom: 1px solid #ccc;
}
.plc-editor-body > div:first-child {
    border-top: 1px solid #ccc;
}
/* hide plc-editor scrollbars */

.plc-window::-webkit-scrollbar { display: none; }
.plc-window-frame::-webkit-scrollbar { display: none; }
.plc-editor::-webkit-scrollbar { display: none; }

.plc-workspace-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    width: 100%;
}

.plc-editor-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    width: 100%;
}

.plc-editor-header {
    display: flex;
    flex-direction: row;
    align-items: left;
    padding: 0px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.plc-editor-body {
    display: block;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    width: 100%;
    overflow-x: auto;
    overflow-y: scroll;
}

.plc-program-block {
    /* padding-bottom: 5px; */
}

.plc-program-block.minimized .plc-program-block-header {
    height: 32px;
}

/** plc-program-block-header-content contains two elements, align the first to the top left and the other to the top right */
.plc-program-block-header-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.plc-program-block-header-title {
    display: flex;
    flex-direction: row;
    align-items: bottom;
    text-align: left;
    text-wrap: nowrap;
    overflow: hidden;
    margin: 0px;
}

.plc-program-block .plc-comment-simple { display: none; }
.plc-program-block.minimized .plc-comment-simple { display: block; }

.plc-program-block.minimized .plc-comment-detailed { display: none; }
.plc-program-block .plc-comment-detailed { display: block; }


.minimized .plc-program-block-container { display: none; }

.plc-program-block-container {
    background: #444;
}

.plc-program-block-header-content .menu-button {
    margin: 3px;
}

.plc-program-block-header-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin: 0px;
}
.plc-program-block-header-buttons .menu-button {
    margin-left: 0px;
}

.plc-workspace canvas {
    margin-left: 5px
}

/* Custom scrollbar style for all scrollable children of .plc-workspace */
.plc-workspace *::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.plc-workspace *::-webkit-scrollbar-track {
    background: #FFF2;
}
.plc-workspace *::-webkit-scrollbar-thumb {
    background: #8883;
    border-radius: 1px;
}

.plc-workspace *::-webkit-scrollbar-track:hover {
    background: #FFF5;
}
.plc-workspace *::-webkit-scrollbar-thumb:hover {
    background: #CCC;
}
